body {
    background-color: darkgrey;
    height: 100vh;
    
}

h1 {
    text-align: center;
    height: 10vh;
    margin-top: 0;
}

#main {
    color: black;
    height: 70vh;
}

#innledning {
    float: left;
    width: 50vw;
}

#lenker {
    float: right;
}

.lenke {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20vw;
    font-size: 1.5rem;
}

#footer {
    color: white;
    height: 15rem;
    margin-left: 0px;
    margin-bottom: 0;
    background-color: rgb(43, 43, 43);
}