body {
    background-color: darkgrey;
    height: 100vh;
    
}

h1 {
    text-align: center;
    height: 10vh;
    margin-top: 0;
}

#main {
    color: black;
    height: 70vh;
}

#innledning {
    width: 50vw;

}

#footer {
    color: white;
    height: 15rem;
    margin-left: 0px;
    margin-bottom: 0;
    background-color: rgb(43, 43, 43);
}