body {
    background-color: whitesmoke;
    height: 100vh;
    
}

header {
    height:15vh;
    text-align: center;
}

h1 {
    text-align: center;
    height: 15vh;
    margin-top: 0;
}

#main {
    color: black;
    height: 70vh;
    float: left;
}

#info {
    width: 90vw;
    float: left;
}

.tiltak {
    width: 50vw;
}

#bilde1 {
    position: absolute;
    float: right;
    right: 0px;
}

#bilde2 {
    position: relative;
    float: right;
    margin-top: 470px;
    right: 0px;
}

#bilde3 {
    float: right;
}

#bilda {
    float: right;
}

.hjemknapp {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#footer {
    position: relative;
    float: bottom;
    color: white;
    height: 12rem;
    width: 99vw;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: rgb(43, 43, 43);
}