body {
    background-color: whitesmoke;
    height: 100vh;
    
}

header {
    height:10vh;
}

h1 {
    text-align: center;
    height: 10vh;
    margin-top: 0;
}

#main {
    color: black;
    height: 70vh;
}

#info {
    width: 70vw;
}

.hjemknapp {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#footer {
    position: absolute;
    float: bottom;
    color: white;
    height: 12rem;
    width: 99vw;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: rgb(43, 43, 43);
}